body {
    padding-right: 0;
    background-color: #836953;
    overflow: hidden;
}

canvas {
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 0 0 20px #333;
}

@-webkit-keyframes inspector-entry {
    from {
        right: -300px
    }

    to {
        right: 0;
    }
}

.inspector-animate {
    -webkit-animation: inspector-entry 0.5s;
    -moz-animation: inspector-entry 0.5s;
    -o-animation: inspector-entry 0.5s;
    animation: inspector-entry 0.5s;
    right: 0 !important;
}

.inspector {
    background-color: #333;
    position: absolute;
    height: 100%;
    width: 300px;
    right: -300px;
    top: 0;
}

.inspector-list {
    margin-top: 0;
    position: absolute;
    padding: 40px 20px 20px 0;
    color: white;
    width: 260px;
    right: 0;
    top: 0;
    overflow-y: scroll;
}

.inspector-list::-webkit-scrollbar {
    width: 15px;
}

.inspector-list::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}

.inspector-list::-webkit-scrollbar-thumb {
    background-color: #444;
}

.inspector-list::-webkit-scrollbar-thumb:hover {
    background-color: #666;
}

.inspector-title {
    position: absolute;
    top: 0;
    right: 0;
    width: 260px;
    padding: 20px;
    height: 20px;
    background-color: #232323;
    color: #E7E7E7;
    font-family: 'Roboto Condensed', sans-serif;
    z-index: 9999;
}

.list-container {
    list-style-type: none;
    padding: 10px;
}

.asset-button {
    background-color: transparent;
    outline: none;
    margin: 3px;
    border: 0;
    padding: 0;
    width: 66px;
    height: 66px;
}

.asset-button:hover {
    margin: 1px;
    border: 2px #FFF solid;
}

.selected {
    margin: 1px;
    border: 2px solid #c40114;
}

.save {
    background-color: #08a203;
    border-width: 0;
    border-radius: 5px;
    float: right;
    padding: 3px 6px 3px 6px;
    margin: -3px;
    cursor: pointer;
}

#form-level-data {
    display: none;
    background-color: #333;
    margin-left: -175px;
    position: absolute;
    padding: 25px;
    width: 300px;
    left: 50%;
    border-radius: 10px;
    top: 300px;
}

#form-level-data input {
    width: 280px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border: 0;
}

#form-level-data input[type=text]:first-child {
    border-radius: 5px 5px 0 0;
}

#form-level-data input[type=submit] {
    width: 301px;
    border-radius: 0 0 5px 5px;
    background-color: #111;
    color: #FFF;
    cursor: pointer;

    transition: 0.25s;
}

#form-level-data input[type=submit]:hover {
    background-color: #c40114;
}