@-webkit-keyframes ease-entry-canvas {
    from { left: -2000px; }
    to { left: 0; }
}

@keyframes ease-entry-canvas {
    from { left: -2000px; }
    to { left: 0; }
}

@-webkit-keyframes ease-entry {
    from { right: -300px; }
    to { right: 0; }
}

@keyframes ease-entry {
    from { right: -300px; }
    to { right: 0; }
}

canvas {
    position: absolute;
    height: 100%;
    padding: 0;
    margin: 0;
    margin-right: 200px;

    -webkit-animation: ease-entry-canvas 0.5s;
    -moz-animation: ease-entry-canvas 0.5s;
    -o-animation: ease-entry-canvas 0.5s;
    animation: ease-entry-canvas 0.5s;
}

#hierarchy {
    position: absolute;
    width: 300px;
    height: 100%;
    background-color: #E7E7E7;
    box-shadow: 0 0 10px 2px #000;
    right: -400px;
}

#hierarchy h1 {
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    background: url("../img/gradient-1.png");
    padding: 5px;
    border-bottom: 1px #CCC solid;
}

.initialize {
    -webkit-animation: ease-entry 0.5s;
    -moz-animation: ease-entry 0.5s;
    -o-animation: ease-entry 0.5s;
    animation: ease-entry 0.5s;
    right: 0 !important;
}

.nav-command {
    background-image: url("../img/mask.png");
    transition: 0.5s;
    margin: 5px 0 5px 5px;
    width: 40px;
    cursor: pointer;
}

.no-transition {
    transition: none;
}

.nav-command:hover {
    background-image: url("../img/hover.png");
}

.nav-command.selected {
    background-image: url("../img/selected.png");
}

#plus-button {
    text-align: center;
    background-color: #DDDDDD;
    border-bottom: 1px #CCCCCC solid;
    border-top: 1px #CCCCCC solid;
    transition: 0.5s;
    cursor: pointer;
    font-size: 20px;
    padding: 4px 4px 0px 4px;
}

#plus-button:hover {
    background-color: #F7F7F7;
}

#action-bar {
}

#play-button {
    position: absolute;
    background-image: url("../img/play-button.png");
    width: 100px;
    height: 100px;
    right: 0;
    bottom: 0;
    cursor: pointer;
    transition: 0.5s;
}

#play-button.stop {
    background-image: url("../img/stop-button.png");
}

#save-button {
    position: absolute;
    bottom: 0;
    width: 150px;
    height: 50px;
    background-image: url("../img/save-button.png");
    cursor: pointer;
    transition: 0.5s;
}

#save-button:hover {
    background-image: url("../img/save-button-hover.png");
}

.truck {
    min-height: 30px;
    border: 0;
    padding: 0;
    margin: 0;
}

.truck tr, .truck td {
    border: 0;
    padding: 0;
    margin: 0;
}

.container:nth-child(2n) {
    background-color: #F7F7F7;
}

.truck-color {
    width: 30px;
    min-height: 30px;
    cursor: pointer;
    vertical-align: middle;
}

.truck-color img {
    margin-top: 2px;
    margin-bottom: -2px;
}

.truck-commands {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 260px;
    min-height: 30px;
}

.truck-commands img {
    width: 30px;
    height: 30px;
}

#context {
    display: none;
    background-color: #FFF;
    position: absolute;
    right: 300px;
    border: 1px #666 solid;
    border-radius: 5px;
    top: 124px;
    margin-right: 10px;
}

#context a {
    display: block;
    padding: 5px;
}